.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__decoration::before {
  content: "REC";
  position: absolute;
  color: var(--decor-color);
  line-height: 25px;
  inset-inline-end: 38px;
  inset-block-start: 10px;
}

.header__decoration::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--decor-color);
  background-color: var(--decor-color);
  block-size: 9px;
  inline-size: 9px;
  inset-inline-end: 19px;
  inset-block-start: 18px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  border: none;
  padding: 1.5px 13px;
  color: var(--decor-color);
  font-family: var(--font), monospace;
  font-size: var(--text-size);
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-decor-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color);
  font-family: var(--font), monospace;
  font-weight: 700;
  font-size: var(--main-title-size-mobile);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.heading {
  font-family: var(--font), monospace;
  font-size: var(--text-size);
  line-height: 130%;
}

.header__text {
  justify-self: end;
  color: var(--title-color);
  font-weight: 700;
  max-inline-size: 364px;
}

.title-decor {
  background-color: var(--accent-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__title {
  color: var(--decor-color);
}

.card {
  display: grid;
  grid-template-rows: min-content;
  gap: 10px;
}

.card__title {
  color: var(--title-color);
}

.card__text {
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.card .card {
  margin-block-start: 10px;
}

.card .card .card__title {
  font-weight: 400;
}

.gallery {
  gap: 10px;
}

.gallery__title {
  color: var(--title-color);
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--main-title-color);
  font-family: var(--font), monospace;
  font-weight: 700;
  font-size: var(--main-title-size-mobile);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (768px <= width) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__decoration::before {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .header__decoration::after {
    inset-inline-end: 29px;
    inset-block-start: 28px;
  }

  .header__title {
    position: relative;
    font-size: var(--main-title-size-desktop);
    inset-inline-start: -20px;
  }

  .header__text {
    max-inline-size: 50%;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  .content__section:nth-child(odd) > .card {
    grid-column: 2 / 3;
  }

  .content__section:nth-child(even) > .card {
    grid-column: 1 / 3;
  }

  .gallery {
    gap: 20px;
  }

  .gallery__title {
    grid-column: 1 / 3;
  }

  .gallery__list {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    grid-column: 1 / 3;
    gap: 20px;
  }

  .gallery__list-item:nth-child(1) {
    grid-area: sunset;
  }

  .gallery__list-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .gallery__list-item:nth-child(3) {
    grid-area: tape;
  }

  .gallery__list-item:nth-child(4) {
    grid-area: books;
  }

  .gallery__list-item:nth-child(5) {
    grid-area: street;
  }

  .footer__title {
    font-size: var(--main-title-size-desktop);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__section:nth-child(odd) > .card {
    grid-column: 2 / 4;
  }

  .content__section:nth-child(even) > .card {
    grid-column: auto;
    grid-row-start: 2;
  }

  .gallery__title {
    grid-column: 1 / 4;
  }

  .gallery__list {
    grid-column: 1 / 4;
  }
}
